sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 71.5em;
	height: 51em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 71.5em;
}
.stl_06 {
	height: 5.1em;
}
.ie .stl_06 {
	height: 51em;
}
@font-face {
	font-family:"KLATUH+PingFangSC-Regular";
	src:url("3d260f09-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 3em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #323232;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"VRJEOA+ArialMT";
	src:url("53474ac8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.166667em;
	font-family: "VRJEOA+ArialMT";
	color: #323232;
}
.stl_11 {
	line-height: 1.117187em;
}
.stl_12 {
	letter-spacing: -0.0002em;
}

.ie .stl_12 {
	letter-spacing: -0.0028px;
}
@font-face {
	font-family:"ULEFDU+AdobeSongStd-Light";
	src:url("1333a26a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.75em;
	font-family: "ULEFDU+AdobeSongStd-Light", "Times New Roman";
	color: #323232;
}
.stl_14 {
	line-height: 1.159em;
}
.stl_15 {
	font-size: 0.833333em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #323232;
}
.stl_16 {
	letter-spacing: 0.016em;
}

.ie .stl_16 {
	letter-spacing: 0.2133px;
}
.stl_17 {
	letter-spacing: 0.003em;
}

.ie .stl_17 {
	letter-spacing: 0.04px;
}
.stl_18 {
	font-size: 0.833333em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #323231;
}
.stl_19 {
	letter-spacing: 0.075em;
}

.ie .stl_19 {
	letter-spacing: 1px;
}
.stl_20 {
	letter-spacing: 0.028em;
}

.ie .stl_20 {
	letter-spacing: 0.3733px;
}
.stl_21 {
	letter-spacing: 0.051em;
}

.ie .stl_21 {
	letter-spacing: 0.68px;
}
.stl_22 {
	letter-spacing: 0.063em;
}

.ie .stl_22 {
	letter-spacing: 0.84px;
}
.stl_23 {
	letter-spacing: 0.102em;
}

.ie .stl_23 {
	letter-spacing: 1.36px;
}
.stl_24 {
	letter-spacing: 0.057em;
}

.ie .stl_24 {
	letter-spacing: 0.76px;
}
.stl_25 {
	letter-spacing: 0.02em;
}

.ie .stl_25 {
	letter-spacing: 0.2667px;
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "ULEFDU+AdobeSongStd-Light", "Times New Roman";
	color: #323231;
}
.stl_27 {
	letter-spacing: 0.014em;
}

.ie .stl_27 {
	letter-spacing: 0.1867px;
}
.stl_28 {
	letter-spacing: -0.0004em;
}

.ie .stl_28 {
	letter-spacing: -0.0056px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #323231;
}
.stl_30 {
	letter-spacing: -0.0005em;
}

.ie .stl_30 {
	letter-spacing: -0.0056px;
}
.stl_31 {
	font-size: 2.5em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #333332;
}
.stl_32 {
	font-size: 2.5em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #FFFEFE;
}
.stl_33 {
	font-size: 0.916667em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #FFFEFE;
}
.stl_34 {
	letter-spacing: 0.006em;
}

.ie .stl_34 {
	letter-spacing: 0.088px;
}
.stl_35 {
	letter-spacing: 0.015em;
}

.ie .stl_35 {
	letter-spacing: 0.22px;
}
.stl_36 {
	font-size: 1.166667em;
	font-family: "VRJEOA+ArialMT";
	color: #FFFEFE;
}
.stl_37 {
	font-size: 0.916667em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #000000;
}
.stl_38 {
	letter-spacing: 0.104em;
}

.ie .stl_38 {
	letter-spacing: 1.5253px;
}
.stl_39 {
	letter-spacing: 0.04em;
}

.ie .stl_39 {
	letter-spacing: 0.5867px;
}
.stl_40 {
	font-size: 0.916667em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #323232;
}
.stl_41 {
	letter-spacing: 0.114em;
}

.ie .stl_41 {
	letter-spacing: 1.672px;
}
.stl_42 {
	letter-spacing: 0.108em;
}

.ie .stl_42 {
	letter-spacing: 1.584px;
}
.stl_43 {
	font-size: 2.333333em;
	font-family: "KLATUH+PingFangSC-Regular";
	color: #000000;
}
.stl_44 {
	font-size: 1.166667em;
	font-family: "VRJEOA+ArialMT";
	color: #323131;
}
